# tasks file
---
- name: configure | generate scripts
  ansible.builtin.template:
    src: "{{ item.lstrip('/') }}.j2"
    dest: "{{ item }}"
    owner: root
    group: root
    mode: 0750
    validate: '/usr/bin/env bash -n %s'
  with_items:
    - /usr/local/bin/pt-deadlock-logger-wrapper
    - /usr/local/bin/pt-heartbeat-wrapper
    - /usr/local/bin/pt-table-checksum-wrapper
  tags:
    - percona-toolkit-configure-generate-scripts
