# tasks file
---
- name: install | dependencies
  apt:
    name: "{{ percona_toolkit_dependencies }}"
    state: "{{ apt_install_state | default('latest') }}"
  tags:
    - percona-toolkit-install-dependencies
